<a href="https://colab.research.google.com/github/ItishaK/AI_Colab_WS/blob/main/pySpark_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Reference: https://github.com/krishnaik06/Pyspark-With-Python

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=9d9a6e9d7b6c0bf17b8a50f4eb32331eb44f1ff10dc6562f7110942bcc431ac6
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [7]:
spark

In [8]:
df_pyspark = spark.read.csv('Test1_ds.csv', header=True, inferSchema=True)

In [9]:
df_pyspark.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  Riya| 23|         3| 30000|
|   Sam| 29|         5| 50000|
|Joseph| 30|         4| 40000|
|   Raj| 35|         1| 10000|
| James| 26|         7| 45000|
|  Mary| 31|         6| 60000|
|   Sia| 28|         8| 80000|
+------+---+----------+------+

In [11]:
## Filter operations
# Salary of people less than or equal to 30000

df_pyspark.filter("Salary<=30000").show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Riya| 23|         3| 30000|
| Raj| 35|         1| 10000|
+----+---+----------+------+

In [12]:
df_pyspark.filter('Salary<=30000').select(['Name',"Age"]).show()

+----+---+
|Name|Age|
+----+---+
|Riya| 23|
| Raj| 35|
+----+---+

In [14]:
df_pyspark.filter(df_pyspark['Salary']<=30000).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Riya| 23|         3| 30000|
| Raj| 35|         1| 10000|
+----+---+----------+------+

In [17]:
df_pyspark.filter((df_pyspark['Salary']<=30000) & (df_pyspark['Salary']>=15000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Riya| 23|         3| 30000|
+----+---+----------+------+

In [18]:
df_pyspark.filter((df_pyspark['Salary']<=30000) | (df_pyspark['Salary']>=15000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  Riya| 23|         3| 30000|
|   Sam| 29|         5| 50000|
|Joseph| 30|         4| 40000|
|   Raj| 35|         1| 10000|
| James| 26|         7| 45000|
|  Mary| 31|         6| 60000|
|   Sia| 28|         8| 80000|
+------+---+----------+------+

In [19]:
## Inverse filter operation
df_pyspark.filter(~(df_pyspark['Salary']<=30000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Sam| 29|         5| 50000|
|Joseph| 30|         4| 40000|
| James| 26|         7| 45000|
|  Mary| 31|         6| 60000|
|   Sia| 28|         8| 80000|
+------+---+----------+------+

In [ ]:
## Aggregate Functions

In [20]:
df2_pyspark = spark.read.csv('Test2.csv', header=True, inferSchema=True)

In [22]:
df2_pyspark.show()

+------+------+------------+
|  Name|Salary|  Department|
+------+------+------------+
|  Riya| 30000|Data Science|
|   Sam| 50000|     Android|
|Joseph| 40000|         iOT|
|   Raj| 10000|Data Science|
| James| 45000|    Big Data|
|  Mary| 60000|    Big Data|
|   Sia| 80000|     Android|
+------+------+------------+

In [23]:
df2_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Department: string (nullable = true)

In [25]:
## GroupBy
df2_pyspark.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(Salary)|
+------+-----------+
|  Mary|      60000|
| James|      45000|
|   Sia|      80000|
|  Riya|      30000|
|   Sam|      50000|
|   Raj|      10000|
|Joseph|      40000|
+------+-----------+

In [26]:
df2_pyspark.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|    Big Data|     105000|
|     Android|     130000|
|Data Science|      40000|
|         iOT|      40000|
+------------+-----------+

In [27]:
df2_pyspark.groupBy('Department').mean().show()

+------------+-----------+
|  Department|avg(Salary)|
+------------+-----------+
|    Big Data|    52500.0|
|     Android|    65000.0|
|Data Science|    20000.0|
|         iOT|    40000.0|
+------------+-----------+

In [28]:
df2_pyspark.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|    Big Data|    2|
|     Android|    2|
|Data Science|    2|
|         iOT|    1|
+------------+-----+

In [29]:
df2_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     315000|
+-----------+

In [31]:
df2_pyspark.groupBy('Department').max().show()

+------------+-----------+
|  Department|max(Salary)|
+------------+-----------+
|    Big Data|      60000|
|     Android|      80000|
|Data Science|      30000|
|         iOT|      40000|
+------------+-----------+