<a href="https://colab.research.google.com/github/ItishaK/AI_Colab_WS/blob/main/pySpark_introductory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Reference: https://github.com/krishnaik06/Pyspark-With-Python

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 1.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=2817967189daae3361e88ee834802de4f12eb90eb089275e1d8de43206d6f5ca
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
import pandas as pd

In [3]:
ds = pd.read_csv("Test1_ds.csv")

In [4]:
ds

     Name  Age  Experience  Salary
0    Riya   23         3.0   30000
1     Sam   29         5.0   50000
2  Joseph   30         4.0   40000
3     Raj   35         1.0   10000
4     NaN   26         NaN   45000
5     NaN   31         6.0   60000
6     Sia   28         8.0   80000

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [7]:
spark

In [8]:
spark.read.csv('Test1_ds.csv')

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [9]:
df_pyspark = spark.read.option('header', 'true').csv('Test1_ds.csv', inferSchema=True)

In [10]:
df_pyspark

DataFrame[Name: string, Age: int, Experience: int, Salary: int]

In [11]:
df_pyspark.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  Riya| 23|         3| 30000|
|   Sam| 29|         5| 50000|
|Joseph| 30|         4| 40000|
|   Raj| 35|         1| 10000|
|  NULL| 26|      NULL| 45000|
|  NULL| 31|         6| 60000|
|   Sia| 28|         8| 80000|
+------+---+----------+------+

In [12]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [13]:
df_pyspark.head(4) # Appears as a list

[Row(Name='Riya', Age=23, Experience=3, Salary=30000),
 Row(Name='Sam', Age=29, Experience=5, Salary=50000),
 Row(Name='Joseph', Age=30, Experience=4, Salary=40000),
 Row(Name='Raj', Age=35, Experience=1, Salary=10000)]

In [14]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [15]:
df_pyspark = spark.read.csv('Test1_ds.csv', header = True, inferSchema= True)
df_pyspark.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  Riya| 23|         3| 30000|
|   Sam| 29|         5| 50000|
|Joseph| 30|         4| 40000|
|   Raj| 35|         1| 10000|
|  NULL| 26|      NULL| 45000|
|  NULL| 31|         6| 60000|
|   Sia| 28|         8| 80000|
+------+---+----------+------+

In [16]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [17]:
df_pyspark.columns

['Name', 'Age', 'Experience', 'Salary']

In [18]:
df_pyspark.select('Age')

DataFrame[Age: int]

In [19]:
df_pyspark.select('Age').show()

+---+
|Age|
+---+
| 23|
| 29|
| 30|
| 35|
| 26|
| 31|
| 28|
+---+

In [20]:
type(df_pyspark.select('Age'))

pyspark.sql.dataframe.DataFrame

In [21]:
df_pyspark.select(['Name', 'Age']).show()

+------+---+
|  Name|Age|
+------+---+
|  Riya| 23|
|   Sam| 29|
|Joseph| 30|
|   Raj| 35|
|  NULL| 26|
|  NULL| 31|
|   Sia| 28|
+------+---+

In [22]:
df_pyspark['Name']

Column<'Name'>

In [23]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [24]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string, Salary: string]

In [25]:
df_pyspark.describe().show()

+-------+------+------------------+------------------+-----------------+
|summary|  Name|               Age|        Experience|           Salary|
+-------+------+------------------+------------------+-----------------+
|  count|     5|                 7|                 6|                7|
|   mean|  NULL|28.857142857142858|               4.5|          45000.0|
| stddev|  NULL| 3.804758924845368|2.4289915602982237|22173.55782608345|
|    min|Joseph|                23|                 1|            10000|
|    max|   Sia|                35|                 8|            80000|
+-------+------+------------------+------------------+-----------------+

In [26]:
df_pyspark = df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2)

In [27]:
df_pyspark.show()

+------+---+----------+------+------------------------+
|  Name|Age|Experience|Salary|Experience After 2 years|
+------+---+----------+------+------------------------+
|  Riya| 23|         3| 30000|                       5|
|   Sam| 29|         5| 50000|                       7|
|Joseph| 30|         4| 40000|                       6|
|   Raj| 35|         1| 10000|                       3|
|  NULL| 26|      NULL| 45000|                    NULL|
|  NULL| 31|         6| 60000|                       8|
|   Sia| 28|         8| 80000|                      10|
+------+---+----------+------+------------------------+

In [28]:
df_pyspark = df_pyspark.drop('Experience After 2 years')

In [29]:
df_pyspark.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  Riya| 23|         3| 30000|
|   Sam| 29|         5| 50000|
|Joseph| 30|         4| 40000|
|   Raj| 35|         1| 10000|
|  NULL| 26|      NULL| 45000|
|  NULL| 31|         6| 60000|
|   Sia| 28|         8| 80000|
+------+---+----------+------+

In [30]:
df_pyspark.withColumnRenamed('Name', 'New Name').show()

+--------+---+----------+------+
|New Name|Age|Experience|Salary|
+--------+---+----------+------+
|    Riya| 23|         3| 30000|
|     Sam| 29|         5| 50000|
|  Joseph| 30|         4| 40000|
|     Raj| 35|         1| 10000|
|    NULL| 26|      NULL| 45000|
|    NULL| 31|         6| 60000|
|     Sia| 28|         8| 80000|
+--------+---+----------+------+

In [31]:
df_pyspark = df_pyspark.withColumn('Salary', df_pyspark['Experience']*10000)

In [32]:
df_pyspark.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  Riya| 23|         3| 30000|
|   Sam| 29|         5| 50000|
|Joseph| 30|         4| 40000|
|   Raj| 35|         1| 10000|
|  NULL| 26|      NULL|  NULL|
|  NULL| 31|         6| 60000|
|   Sia| 28|         8| 80000|
+------+---+----------+------+

In [33]:
df_pyspark.na.drop().show() ## drops al rows where null values are present

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  Riya| 23|         3| 30000|
|   Sam| 29|         5| 50000|
|Joseph| 30|         4| 40000|
|   Raj| 35|         1| 10000|
|   Sia| 28|         8| 80000|
+------+---+----------+------+

In [34]:
df_pyspark.na.drop(how="all").show() ## drops records when all values in a row are Null

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  Riya| 23|         3| 30000|
|   Sam| 29|         5| 50000|
|Joseph| 30|         4| 40000|
|   Raj| 35|         1| 10000|
|  NULL| 26|      NULL|  NULL|
|  NULL| 31|         6| 60000|
|   Sia| 28|         8| 80000|
+------+---+----------+------+

In [35]:
df_pyspark.na.drop(how="any", thresh=2).show() ## drops rows where we do not have atleast 2 not null values

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  Riya| 23|         3| 30000|
|   Sam| 29|         5| 50000|
|Joseph| 30|         4| 40000|
|   Raj| 35|         1| 10000|
|  NULL| 31|         6| 60000|
|   Sia| 28|         8| 80000|
+------+---+----------+------+

In [36]:
df_pyspark.na.drop(how="any", subset=['Name']).show()
# deletes all records where null values present for the specified column

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  Riya| 23|         3| 30000|
|   Sam| 29|         5| 50000|
|Joseph| 30|         4| 40000|
|   Raj| 35|         1| 10000|
|   Sia| 28|         8| 80000|
+------+---+----------+------+

In [37]:
df_pyspark.na.fill('Missing').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Riya| 23|         3| 30000|
|    Sam| 29|         5| 50000|
| Joseph| 30|         4| 40000|
|    Raj| 35|         1| 10000|
|Missing| 26|      NULL|  NULL|
|Missing| 31|         6| 60000|
|    Sia| 28|         8| 80000|
+-------+---+----------+------+

In [38]:
#Filling for missing values with Text
df_pyspark.na.fill('Missing Value').show()

+-------------+---+----------+------+
|         Name|Age|Experience|Salary|
+-------------+---+----------+------+
|         Riya| 23|         3| 30000|
|          Sam| 29|         5| 50000|
|       Joseph| 30|         4| 40000|
|          Raj| 35|         1| 10000|
|Missing Value| 26|      NULL|  NULL|
|Missing Value| 31|         6| 60000|
|          Sia| 28|         8| 80000|
+-------------+---+----------+------+

In [39]:
df_pyspark.na.fill('Missing Values','Experience').show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  Riya| 23|         3| 30000|
|   Sam| 29|         5| 50000|
|Joseph| 30|         4| 40000|
|   Raj| 35|         1| 10000|
|  NULL| 26|      NULL|  NULL|
|  NULL| 31|         6| 60000|
|   Sia| 28|         8| 80000|
+------+---+----------+------+

In [40]:
df_pyspark.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|  Riya| 23|         3| 30000|
|   Sam| 29|         5| 50000|
|Joseph| 30|         4| 40000|
|   Raj| 35|         1| 10000|
|  NULL| 26|      NULL|  NULL|
|  NULL| 31|         6| 60000|
|   Sia| 28|         8| 80000|
+------+---+----------+------+

In [41]:
from pyspark.ml.feature import Imputer

In [42]:
# Filling Values through imputation
imputer = Imputer(inputCols=['Experience', 'Salary'],
                  outputCols= ["{}_imputed".format(c) for c in ['Experience', 'Salary']]
                  ).setStrategy("mean")

In [43]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+---+----------+------+------------------+--------------+
|  Name|Age|Experience|Salary|Experience_imputed|Salary_imputed|
+------+---+----------+------+------------------+--------------+
|  Riya| 23|         3| 30000|                 3|         30000|
|   Sam| 29|         5| 50000|                 5|         50000|
|Joseph| 30|         4| 40000|                 4|         40000|
|   Raj| 35|         1| 10000|                 1|         10000|
|  NULL| 26|      NULL|  NULL|                 4|         45000|
|  NULL| 31|         6| 60000|                 6|         60000|
|   Sia| 28|         8| 80000|                 8|         80000|
+------+---+----------+------+------------------+--------------+